column{
    float: left;
    width: 30%;
    margin: 15px;
    color:darkolivegreen;
    font-size: 20px;
}
.head{
    font-style: normal;
    color: darkgoldenrod;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row1{
    margin-top: 20px;
}
.container{
    margin-top: 20px;
}
.img-responsive{
    height: 60%;
    width: 50%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(olive,darkorange,goldenrod,lightblue,darkcyan);
  }
  
  